/*General CSS*/
body {
    background-color: white;
    color: wheat; 
    margin: 0;
    padding: 0;
}
a{
    color:white;
}

#footer {
    opacity: .9;
    position: relative;
    background-color: wheat;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
    min-height: 100px;
}

#footer p{
    color: white;
    text-decoration: none;
    padding-top: 10px;
}
#footer p a {
    color: white;
    text-decoration: none;
}








/* 
*******************************
************ INDEX ************
*******************************
*/
#mainTitle{
    position: relative;
    top: 300px;
    color: white;
    font-size: 5em;
    text-shadow: 1.5px 1.5px 10px wheat;
    text-align: center;
    animation-name: title;
    animation-duration: 3s;
}
#subTitle {
    position: relative;
    top: 100px;
    color: white;
    font-size: 3em;
    text-shadow: 1.5px 1.5px 3px wheat;
    text-align: center;
    opacity: 0;
    animation-name: subTitle;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes title {
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes subTitle {
    from{opacity: 0;}
    to{opacity: 1;}
}
.parallax {
    background-image: url("photos/banner.jpg");
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax:before {
    content: '';
    position: absolute;
    top: 85%;
    background-image: linear-gradient(to bottom, transparent, wheat);
    height:15%;
    width:100%;
}

.navButtons {
    z-index: 1;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: wheat;
}
.navButtons a {
    display: inline-block;
    padding: 10px 30px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid white;
    background-color: wheat;
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.navButtons a:hover {
    color:wheat;
    background-color: white;
    opacity: 0.5;
}

.aboutMe {
    background-color: wheat;
    color:white;
    font-size: large;
    border-radius: 20px;
    margin: 6%;
    min-height: 400px;
}
.aboutMe h2 {
    animation-name: aboutMeHeader;
    animation-duration: 4s;
    padding: 2%;
    margin: 0;
    font-size: xx-large;
}
.aboutMe p {
    margin: 0;
    padding: 1%;
    padding-bottom: 2%;
}
.parallax2 {
    background-image: url("photos/wheatField.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.connectHeader{
    text-align: center;
    margin-bottom: 10%;
    margin-top: 10%;
}
.connectRow {
    min-height: 100px;
    display: flex;
    text-align: center;
    margin-bottom: 10%;
}

.connectIcon{
    flex:50%;
    color:wheat;
}
.connectIcon i{
    background-color: wheat;
    color:white;
    align-items: center;
    align-self: center;
    padding: 5%;
    border-radius: 3px;
    width: 20%;
    
}











/* 
*******************************
********** PROJECTS ***********
*******************************
*/
.row {
    display: flex;
    max-height: 400px;
    overflow: hidden;
}
.row h2{
    font-size: 3em;
}
.row p {
    font-size: 1.5em;
}
.col{
    flex:50%;
    margin: 4%; 
}
.col p a {
    color: wheat;
}
.col img {
    width: 100%;
    height: auto;
}

















/* 
*******************************
******** QUALIFICATIONS *******
*******************************
*/
.topNav {
    z-index: 1;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: wheat;
    width: 100%;
}
.topNav a {
    display: inline-block;
    padding: 10px 30px;
    margin: 15px 15px;
    border: 2px solid white;
    background-color: wheat;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.topNav a:hover {
    color:wheat;
    background-color: white;
    opacity: 0.5;
}

.qualificationTitle {
    background-color: white;
    opacity: .9;
    margin-top: 0;
    margin-bottom: 2%;
    font-size: 4em;
    text-align: center;   
}

.qualificationRow {
    margin: 3%;
    background-color: white;
    border-radius: 25px;
    display: flex;
    min-height: 200px;
}
.qualification h2 {
    text-align: center;
    margin: 0;
    margin-top: 20px;
}

.qualification{
    margin: 2%;
    flex:50%;
    background-color: wheat;
    color:white;
    border-radius: 30px;
}
.qualification p {
    padding-left: 30px;
    padding-right:30px;
    float: left;
}
.parallax4 {
    background-image: url("photos/leafs.jpg");
    min-height: 230px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.interest {  
    background-color: wheat;
    color:white;
    font-size: large;
    border-radius: 20px;
    margin: 6%;
    min-height: 300px;
}
.interest h2{  
    padding: 2%;
    margin: 0;
    font-size: xx-large;
}
.interest p{  
    margin: 0;
    padding: 1%;
    padding-bottom: 2%;
}
.resume {
    text-align: center;
    font-size: 2em;
    margin: 3%;
}
.resume a {
    color: wheat;
}

